.DS_Store

# LaTeX temporary files
*.aux
*.log
*.toc
*.fls
*.xdv
SorgentiTex/**/*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
*.lof
*.lot

# BibTeX
*.bbl
*.blg