.DS_Store
src/.DS_Store
src/frontend/.DS_Store
src/backend/.DS_Store

.idea/
src/.idea/
src/.idea/
src/frontend/.idea/
src/backend/.idea/

.vscode/
src/.vscode/
src/frontend/.vscode/
src/backend/.vscode/

src/backend/__pycache__/
__pycache__
secrets

__init__.py