.DS_Store
frontend/.DS_Store
backend/.DS_Store

.idea/
frontend/.idea/
backend/.idea/

.vscode/
frontend/.vscode/
backend/.vscode/

frontend/node_modules/
frontend/jspm_packages/

frontend/.env
backend/venv/
backend/.env
backend/config.py

backend/__pycache__/
backend/modules/__pycache__/
