boto3
chromadb
Flask
flask_cors
Flask-SQLAlchemy
huggingface-hub
InstructorEmbedding
langchain
langchain_community
langchain_core
openai
pypdf
PyPDF2
pytest
python-dotenv
pinecone-client
psycopg2-binary
# sentence-transformers
tiktoken
# torch