boto3
chromadb
docx2txt
Flask
flask_cors
Flask-SQLAlchemy
huggingface-hub
InstructorEmbedding
langchain
langchain_community
langchain_core
langchain-openai
openai
pypdf
PyPDF2
pytest
pytest-mock
python-dotenv
pinecone-client
psycopg
psycopg2-binary
# sentence-transformers
tiktoken
# torch